* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
}

:root {
    /* color-scheme: ; */
    --primary-color: #18412F;
    --secondary-color: #455D58;
    --tertidary-color: #9D86A0;
    --light-color: #FEFDFB;
    --accent-color: #CE9199;
    --text-color: #18412F;
    --background-color: #FEFDFB;
    --footer-background: #455D58;
    --footer-text-color: #FEFDFB;

    /* spacing 1rem=16px*/
    --space-gap: 2rem;
    --space-between-section: 100px;

    /* typography */
    --font-family-l: "Labrada";
    --font-family-m: "Mada";
    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-p1: 18px;
    --font-size-p2: 14px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

}

p {
    margin-bottom: 0 !important;
}

.workContent {
    padding: 2rem 2rem 2rem 2rem !important;
    align-items: center;
    margin-top: 70px;
}

/* .workHead-card,
.work-mainPic,
.work-objective,
.work-bcg,
.work-task,
.work-action {
    margin-bottom: 7.5rem !important;
} */

.backB {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-top: 3rem;

    p {
        font-family: var(--font-family-l);
        font-size: var(--font-size-h4);
        margin-left: 8px;
        margin-bottom: 0;
    }
}

.breadcrumb a {
    color: var(--accent-color) !important;
}

.breadcrumb a:hover {
    color: var(--secondary-color) !important;
}

.workHead-card {
    border: solid;
    border-color: var(--secondary-colorr) !important;
    border-radius: 12px;
    border-width: 2px;
    width: 90%;
    height: 300px;
    padding: 3rem !important;
    margin-bottom: 3rem !important;
    align-items: center !important;

}

.workHead-card>h1 {
    font-family: var(--font-family-m);
    color: var(--primary-color);
    font-size: var(--font-size-h1);
}

.workHead-card>h2 {
    font-family: var(--font-family-m);
    color: var(--tertidary-color);
    font-size: var(--font-size-h2);
}

.work-mainPic {
    display: flex;
    justify-content: center;
}

.work-mainPic>img {
    height: auto;
    width: 80%;
}

.work-objective {
    display: flex;
    justify-content: space-between;
}

.hr {
    background-color: var(--accent-color) !important;
    height: 3px !important;
    border-top: none;
    width: 100% !important;
    opacity: 1 !important;
}

.vr {
    height: 400px !important;
    color: var(--secondary-color) !important;
    opacity: 1 !important;
    width: 3px !important;
    padding: 0 !important;
    margin: 0;
}

.date {
    display: flex;
    flex-direction: column;
    height: 416px;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}

.role {
    display: flex;
    flex-direction: column;
    height: 416px;
    width: 100%;
    background-color: #EBEDEB;
    /* align-items: center; */
    justify-content: center;

}

.date-text {
    font-weight: var(--font-weight-regular) !important;
}



.work-reach {
    margin-top: 7.75rem;
    /* display: flex; */
    margin-bottom: 7.5rem;
    background-color: #EBEDEB;
    height: auto;
    width: 100%;
}

.work-bcg-img {
    margin: auto !important;
}

.work-bcg-text p {

    margin-top: 3rem !important;
}

.duke-bcg-text p {
    margin-top: 1rem !important;
}

.oldPicCon {
    margin-top: 3rem !important;
}

.oldPic img {
    width: 450px;
    object-fit: cover !important;
}

.duke-goPic img {
    width: 850px;
    object-fit: cover !important;
}

.work-section {
    margin-top: 7.75rem !important;

}

.bgc {
    background-color: #EBEDEB !important;
    height: auto;
}

.painPoint {
    color: var(--tertidary-color) !important;
}

.journeyPic img {
    margin: 2rem auto 0 auto !important;
}


.workH h3 {
    text-align: left !important;
    margin-top: 3rem !important;
}

/* @media (max-width: 992px) {
    .work-research {
        flex-direction: column;
    }
}
     */
.myRole {
    margin-top: 0 !important;
}

.work-research-img img {
    width: 100%;
    margin-top: 3rem !important;
}

.duke-research-img img {
    width: 100%;
    margin-top: 3rem !important;
    display: flex;
    justify-content: center !important;
}

.sloganCon {
    margin-top: 3rem !important;
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
}

.slogan {
    color: var(--light-color) !important;
    font-family: var(--font-family-l) !important;
    font-size: var(--font-size-h1) !important;
}

.tAContainer {
    justify-content: space-between;
    margin-top: 3rem !important;
    padding: 2rem !important;
}

.tAContent {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin-top: 3rem !important;
    gap: 1rem;
}

.tAContent h4 {
    font-weight: var(--font-weight-bold) !important;
    color: var(--tertidary-color) !important;
    font-size: var(--font-size-h3) !important;
}

.duke-design {
    background-color: var(--secondary-color);
    height: 40px !important;
    width: 140px !important;
    border-radius: 20px;
    align-items: center !important;
    justify-content: center !important;
    color: var(--light-color) !important;
    margin-top: 2rem !important;
}

.duke-result {
    margin-top: 2rem !important;
}

#newInsight {
    font-size: var(--font-size-h2) !important;
    color: var(--tertidary-color) !important;
    font-weight: var(--font-weight-semibold) !important;
}

.hr-2 {
    color: var(--secondary-color);
    height: 3px;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;

}

.work-research-role {
    display: flex;
    align-content: center;

    p {
        margin-top: 0 !important;
    }

    h3 {
        color: var(--accent-color) !important;
    }
}

.research-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem !important;
}

.img-row {
    margin-top: 3rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cook-research-img {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem !important;
}

.work-design {
    margin-top: 3rem !important;
}

.work-design-text {
    display: flex;
}

.carousel {
    z-index: -1;
}

.carousel-control-prev-icon-bg {
    color: var(--primary-color) !important;
}

.work-result-img {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.work-result-img img {
    object-fit: cover !important;
    padding: 1rem;
}

.functionalMap-img img {
    width: 100%;
    object-fit: cover !important;
    margin-top: 3rem !important;
}



.duke-history-img {
    display: flex;
    justify-content: center;
    margin-top: 2rem !important;
}

.duke-history-img img {
    object-fit: cover !important;
    width: 60%;
}

.kingston-issue-img {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem !important;
}

.wireframe-img {
    display: flex;
    justify-content: center;
    margin-top: 3rem !important;
}

.wireframe-img img {
    width: 100%;
    object-fit: cover !important;
}

.displayVideo {
    display: flex;
    justify-content: center;
    margin-top: 3rem !important;
}

.underline {
    text-decoration: underline;
}

.kingston-issue {
    background-color: var(--secondary-color);
    align-items: center !important;
    height: 35px !important;
    justify-content: center !important;
    border-radius: 20px;
    color: var(--light-color) !important;
    margin-top: 3rem !important;
}

.kingston-issue-l {
    width: 180px !important;
}

.kingston-issue-n {
    width: 360px !important;
}

.kingston-issue-c {
    width: 200px !important;
}

.kingston-issue-ch {
    width: 500px !important;
}

.kingston-issue-la {
    width: 340px !important;
}

.teamCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;

    }

    h2 {
        font-family: var(--font-family-m);
        font-size: var(--font-size-h4);
        color: var(--primary-color);
        margin-top: var(--space-gap);
    }

    .linkedinB {
        margin-left: 0 !important;
        margin-top: var(--space-gap);
    }
}

.meetTeam {
    margin-top: 3rem !important;
}

.bcg-test {
    background-color: #EBEDEB;
    /* height: auto; */
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.work-reach {
    display: flex;
    padding: 0;
    align-items: center;
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
    height: 286px;
    background-color: rgba(69, 93, 88, 0.1);
}

.reachout {
    margin: 3rem !important;
}

.emailB {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    margin-left: 36px;
    margin-right: 1rem;
    color: var(--primary-color);
}

.emailB text {
    font-family: var(--font-family-m);
    font-size: var(--font-size-h4);
}


.contactBCon {
    display: flex;
    flex-direction: column;
}

.pdfB {
    width: 24px !important;
    height: 24px !important;
    color: var(--secondary-color);
    margin-left: 4px;
}

.linkedinB,
.instagramB,
.behanceB {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    cursor: pointer;
    margin-left: 36px;
    margin-top: 16px;
}


.linkedinB:hover {
    color: var(--primary-color);
}

.instagramB:hover {
    color: var(--primary-color);
}

.behanceB:hover {
    color: var(--primary-color);
}